DATABASE_URL=postgresql://postgres.rpvswsicdwwwrkhdfefp:EHNsT05SCYrffIyE@aws-0-ca-central-1.pooler.supabase.com:6543/postgres
VITE_SUPABASE_URL=https://rpvswsicdwwwrkhdfefp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJwdnN3c2ljZHd3d3JraGRmZWZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzEzNzcwNDYsImV4cCI6MjA0Njk1MzA0Nn0.ZREXl7GkmBQp1gzAQryPnqliy2LNbVnudSDVsHJYgLY